@import "combine.scss";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("http://fonts.googleapis.com/css?family=Lora:400,700");

//Variables
$sans: 'lato', 'roboto', 'helvetica neue', arial, sans-serif;
$serif: lora, "iowan old style", "times new roman", serif;
$blue: #4A90E2;
$lightblue: lighten($blue, 30%);
$darkblue: darken($blue, 20%);
$red: #E1384E;
$bgred: rgba(255,56,78,0.1);
$white: rgba(255,255,255,0.87);
$black: rgba(0,0,0,0.87);
$grey: #333;

//p font size 1.25 em

//Mixins
@mixin section-pad {
	padding-top: 10px;
	padding-bottom: 40px;
	border-bottom: 1px solid #979797;
}

@mixin view-button {
	border-radius: 6px;
	border: 1px solid $blue;
	background: #fff;
	font-family: $serif;
	font-size: 2.2em;
	color: $blue;
	padding-left: 1em;
	padding-right: 1em;
	transition: all 0.2s;
	&:hover {
		color: $darkblue;
		border: 1px solid $darkblue;
		background: $lightblue;
	}
}

@mixin padding-lr($left, $right) {
	padding-left: $left;
	padding-right: $right;
}

@mixin link {
	color: $blue;
	border-bottom: 2px solid $blue;
	text-decoration: none;
	transition: all 0.2s;
	border-radius: 2px;
	&:hover {
		color: $darkblue;
		border-bottom: 2px solid $darkblue;
		background: $lightblue;
	}
}

//Global Styles
html {
	text-align: center;
	font-size: 16px;
	background: #F5F5F5;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	font-family: $sans;
}

h2 {
	font-size: 3.2em;
	span.red {
		color: $red;
		font-weight: bold;
	}
}

h3 {
	font-size: 2.9em;
}

p {
	color: $black;
	font-size: 1.25em;
	font-weight: 400;
	font-family: $serif;
}

//Mobile Styles
//Silly android
.nav.android {
	transform: translateX(-100%);
	&.open {
		transform: translateX(0%);
	}
}

//Not android
.nav {
	padding-top: 70px;
	position: fixed;
	display: block;
	background: rgba(51,51,51,0.95);
	z-index: 3;
	visibility: hidden;
	transform: translate(-60%,-70%) scale(0);
	transition: transform 0.6s, visibility 0s 0.6s;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	ul {
		list-style: none;
		width: 100%;
		display: block;
		padding: 0;
		li {
			padding: 12px;
			a {
				font-weight: 300;
				font-size: 2.2em;
				font-family: $sans;
				color: $white;
				text-decoration: none;
				box-shadow: inset 0 -1px rgba(255,255,255,0.2);
				transition: 0.2s ease-in-out;
				&:hover {
					background: rgba(255,255,255,0.2);
				}
			}
		}
	}
	&.open {
		visibility: visible;
		transform: translate(0%,0%) scale(1);
		transition: transform 0.6s;
	}
}
	

div.btn {
	text-align: left;
}
button#trigger-slide {
	height: 54px;
	width: 48px;
	background: $grey;
	border: none;
	outline: none;
	position: fixed;
	z-index: 999;
	border-bottom-right-radius: 3px;
	transition: all 0.2s;
	&:hover {
		background: #5C5C5C;
	}
	@media (min-width: /*481px*/ 1024px) {
		display: none;
	}
	span {
		display: block;
		height: 7px;
		width: 38px;
		background: $white;
		margin-bottom: 7px;
		position: relative;
		border-radius: 1px;
		top: 4px;
		right: 6px;
		
	}
}

header {
	background: $grey;
	color: $white;
	font-family: $sans;
	font-weight: 300;
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
	span {
		&.hi {
			font-size: 6em;
		}
		&.jesse {
			font-size: 4.5em;
			display: block;
			padding: 0.25rem;
			background: rgba(255,36,65,0.5);
		}
		&.make {
			font-size: 2.9em;
		}
		&.websites {
			display: inline-block;
			font-size: 2.4em;
			margin-top: 0.3em;
			margin-bottom: 45px;
		}
	}
	a {
		display: inline-block;
		border-radius: 50%;
		height: 60px;
		width: 60px;
		&:hover {
			background: rgba(255,255,255,0.1);
		}
		img {
			height: 60px;
			width: 60px;
		}
	}	
}

div.profile {
	@include section-pad;
	p {
		hyphens: none;
		.hl {
			background: $red;
			color: $white;
			padding-left: 0.2em;
			padding-right: 0.2em;
		}
	}
}

div.work {
	background: $bgred;
	@include section-pad;
	div.lg-3 {
		border: 2px solid $grey;
		border-radius: 4px;
		background: #fff;
		img {
			width: 100%;
		}
		h3 {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		button {
			@include view-button;
		}
		p {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	div.side {
		margin-top: 20px;
		a {
			@include link;
		}
	}
	div.zodiac {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

div.skills {
	@include section-pad;
	h3 {
		text-align: left;
		margin-bottom: 0.2125em;
	}
	.skill-bar {
		height: 8px;
		width: 100%;
		background: $grey;
		border: 1px solid $grey;
		border-radius: 10px;
		span {
			display: block;
			height: 20px;
			width: 20px;
			position: relative;
			top: -6px;
			background: $red;
			border-radius: 2px;
			transition: 1.2s ease-in-out;
			&.fifty {
				margin-left: 50%;
			}
		}
	}
	label {
		font-size: 1.5em;
		font-family: $serif;
		color: lighten($grey, 20%);
		display: inline-block;
		margin-top: 0.625em;
		@include padding-lr(0.6em,0.6em);
	}
}





































//@import "../../components/stylesheets/bootstrap.scss";